POSTGRES_DB=prepza
POSTGRES_USER=prepza
POSTGRES_PASSWORD=CHANGE_ME_TO_A_LONG_RANDOM_PASSWORD
SECRET_KEY=CHANGE_ME_TO_A_LONG_RANDOM_SECRET
BASE_URL=https://YOUR_DOMAIN

AWS_SES_REGION=
SES_FROM_EMAIL=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

OPENAI_API_KEY=

PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

SENTRY_DSN=

AWS_ENDPOINT_URL_S3=
AWS_REGION=auto
AWS_ACCESS_KEY_ID_R2=
AWS_SECRET_ACCESS_KEY_R2=
R2_BUCKET_NAME=
